*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container1{
    font-family: 'Inconsolata', monospace;
    padding: 30px 60px;
    font-size: x-small;
    color: #333333;
    font-weight: 900;
}

 .container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

 img{
    width: 600px;
    padding: 80px 50px;
}

 .container2{
    width: 40%;
    float: left;
}

.container3{
    padding: 70px 5px 150px 100px;
    font-family:'Space Mono', monospace;
    width: 50%;
}

h2{
    color: #333333;
    font-weight: 1000;
    font-size: 50px;
}

h4{
    color: #4F4F4F;
    font-weight: 400;
    font-size: 27px;
    word-spacing: 3px;
}

button{
    background-color: #333333;
    color: #FFF;
    padding: 25px 50px;
    font-family:'Space Mono', monospace;
    font-weight: 570;
    font-size: large;
}

footer{
    color: #BDBDBD;
    font-weight: 500;
    font-family:'Montserrat', sans-serif; 
    text-align:center;
}    

@media (min-width: 320px) and (max-width: 800px) {
.container1{
    font-family: 'Inconsolata', monospace;
    padding: 10px 15px;
    font-size: 8pt;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

   img{
    width: 400px;
    padding: 60px 50px;
} 

 .container3{
    padding: 10px 10px 5px 10px;
    font-family:'Space Mono', monospace;
    font-weight: 900;
    width: 100%;
} 

h4{

    font-weight: 400;
    font-size: 20px;
    padding: 0px 10px;
}

button{
    background-color: #333333;
    color: #FFF;
    padding: 25px 50px;
    font-family:'Space Mono', monospace;
    font-weight: 570;
    font-size: large;
}

footer{
    color: #BDBDBD;
    font-weight: 500;
    font-family:'Montserrat', sans-serif; 
    text-align:center;
}    
}